@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

body {
    font-family: "Jost", sans-serif;
    background-color: #f0f0f0;
}

h1 {
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;
    font-weight: 600;
}

.user {
    margin: 0 auto;
}

input {
    display: block;
}

.form {
    width: 300px;
    padding: 30px;
    border: 1px solid lightgray;
    background-color: white;
    margin: 10% auto;
}

.form-control {
    position: relative;
    padding: 5px 0 22px 0;
    margin-bottom: 10px;
}

.form-control label {
    color: #767676;
}

.form-control input {
    margin-top: 5px;
    padding: 5px;
    font-family: inherit;
    width: 96%;
    border: 1px solid #f0f0f0;
}

.form-control input:focus {
    outline: 0;
    border: 1px solid #777;
}

.form-control small {
    position: absolute;
    bottom: 0px;
    color: var(--error-color);
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

button {
    width: 100%;
    padding: 10px 0;
    background-color: black;
    color: white;
    border-radius: 0;
    font-family: inherit;
    margin-top: 15px;
    font-size: 1rem;
    border: none;
}
